@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #d3d8e8;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background-color: #0d1224;
  position: relative;
  width: 100%;
}
#sticky-card-1 {
  --index: 1;
}
#sticky-card-2 {
  --index: 2;
}
#sticky-card-3 {
  --index: 3;
}
#sticky-card-4 {
  --index: 4;
}
.sticky-card {
  top: calc(var(--index) * 4rem);
}

html {
  width: 100%;
}

.pageWrapper {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  position: relative;
}